#ulmenu > li:nth-child(3) a{  /*SE CAMBIA EL SELECTED*/

    font-weight: bold;
}

#ulmenu > li:nth-child(1) a{  /*SE CAMBIA EL SELECTED*/

    font-weight: normal;
}

body {
    color: #aaa;
}

#tilreservas{

    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -60px;

}

#contenedorReservas{

    text-align: center;
    padding:70px 0px 170px 0px;
    


}
.calendar {
    position:relative;
    width: 500px;
    margin: 0;
   
}
.calendar__month {
    font-size: 20px;
    font-weight: 800;
    padding: 10px 0;
    width: 100%;
    position: relative;
}
.cal-month__previous, .cal-month__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
}
.cal-month__previous:hover, .cal-month__next:hover {
    background-color: #42a5f5;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    font-weight: 800;
    color: #111;
}
.cal-month__next {
    right: 0;
}
.cal-month__current {
    color: var(--colormain);
    font-size: 80px;
}
.cal-head__day, .cal-body__day {
    display: inline-block;
    width: 71px;
    height: 50px;
    font-size: 25px;
}
.cal-body__week, .calendar__head {
    display: block;
    height: 70px;
    width: 500px;
}
.calendar__head {
    line-height: 50px;
    position: relative;
}
.calendar__head:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #90caf9;
}
.cal-body__day {
    color: #777;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    width: 71px;
    font-size: 35px;
}
.cal-day__month--current {
    color: var(--colormain);
}
.cal-day__day--today {
    font-weight: 800;
    color: black;
}
.cal-day__day--selected {
    background-color: var(--colormain);
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .75);
    border-radius: 50%;
    color: white;
}







h3 {
    color:var(--colormain);
    font-size:30px;
}

select,option{
    width: 100%;
    text-align: center;
    font-size: 25px;

}

.row{
    padding:10px;
    }

#formularioReservas{
 position:relative;
    top:150px
}










@media screen and (max-width: 990px){

    #tilreservas{

        font-size: var(--tamanomovilh1);
    
    }

    .calendar{

        margin: auto;

        padding-bottom: 50px;

        border-bottom: solid 1px;

        width: 700px;

    }

    .cal-body__day, .cal-head__day{

        font-size: 45px;
        width: 101px;

    }

    #formularioReservas{

        padding-top: 50px;

    }

    .cal-body__week, .calendar__head{

        padding: 0;

        width: 710px;

    }

    .cal-month__current{

        font-size: var(--tamanomovilh1);

    }

  
    

}


